---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

		<h1>My Astro Site</h1
		
	</body>


 <div class="home-container">
    <div class="home-copy">
      <h2>La tia Romy</h2>
      <h1>!Bienvenidos¡</h1>
      <p>Restaurante, comida rapida, almuerzos, colaciones, para servir, para llevar, contamos con reparto a domicilio.</p>
    </div>

    <div class="hero-image-container">
      <picture>
          <img class="hero-image" alt="La Tia Romy -Restaurante-" src="/public/logo.png" width="300" height="266">
      </picture>
      
    </div>
</div>


</html>
